# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*



.DS_Store
node_modules
/dist
/build


# local env files
.env.local
.env.*.local
.env.development
.env.production

# Editor directories and files
.idea
.vscode
.cursor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation
*文档*/

*.conf

# 忽略静态资源文件夹,避免上传到仓库
# 但保留 .gitkeep 文件,确保文件夹存在
public/avatar/*
public/img/*
public/video/*
# 不忽略静态资源文件夹的 .gitkeep 文件
!public/avatar/.gitkeep
!public/img/.gitkeep
!public/video/.gitkeep